.rendu {
    color: 'green';
    border: 1px solid rgb(100, 255, 100);
    background-color: rgb(0, 124, 0);
}

.nonRendu {
    color:'red';
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 93, 93);
}

.container {
    display: flex;
    flex-direction: column;
}


.Btn{
    background-color: rgb(110, 110, 110);
    margin-left: 20%;
}

.list1 {
    height: 400px;
    width: 450px;
    border: 1px solid black;
    margin-left: 130px;
}

.list2 {
    height: 400px;
    width: 450px;
    border: 1px solid black;
    margin-left: 100px;
}

h1 {
    margin-left: 130px;
}

#MyLists{
    display: flex; 
    flex-wrap: wrap;
}
  
.example-item {
    height: 50px;
}


.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://i1.rgstatic.net/ii/profile.image/712495153029121-1546883490651_Q512/Michel-Buffa.jpg');
  background-size: cover;
}

.img-item{
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

.example-spacer{
    background-color: rgb(214, 214, 214);
    margin-top: 5%;
}

.firstPage{
    background-color: rgba(255, 255, 255, 0);
}