<form class="form" #assignmentForm>
    <mat-form-field>
        <input matInput 
                placeholder="nom du devoir"
                [(ngModel)] = "nomDevoir"
                name="name"
                >
    </mat-form-field>

    <mat-form-field>
        <input matInput 
               [matDatepicker]="picker" 
               placeholder="date de rendu"
               [(ngModel)]="dateRendu"
               name="date"
        >
        <mat-datepicker-toggle metSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button color="primary" [disabled]="!ajoutActive" (click)="onSubmit() ; assignmentForm.reset()">
        Ajouter un devoir
    </button>

</form>


<div *ngFor="let assignment of assignments">
    <p appRendu *ngIf="assignment.rendu; else nonSoumis">Devoir intitulé {{assignment.nom}}, à rendre le {{assignment.dataDeRendu}} , rendu par l'élève : {{assignment.rendu}}</p>
    <ng-template #nonSoumis>
        <p>le devoir {{assignment.nom}} n'a pas été rendu</p>
    </ng-template>
</div> 
