.rendu {
    color: 'green';
    border: 1px solid rgb(100, 255, 100);
    background-color: rgb(0, 124, 0);
}

.nonRendu {
    color:'red';
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 93, 93);
}

.container {
    display: flex;
    flex-direction: column;
}

.ajouterBtn{
    align-self: flex-end;
}

