<!-- <div class="container" *ngIf="assignment">
    <h1>Edition de l'assignment {{assignment.nom}}</h1>
        <form ngForm class="form">
            <mat-form-field>
                <input  matInput
                        placeholder="Edition du nom"
                        [(ngModel)]="nomAssignment"
                        name="assignment-name"
                >
            </mat-form-field>

            <mat-form-field>
                <input  matInput
                        [matDatepicker]="picker"
                        placeholder="Edition de la date"
                        [(ngModel)]="dateDeRendu"
                        name="date"
                >

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        <button mat-raised-button color="primary" (click)="onSaveAssignment()">Sauver</button>
    </form>
</div> -->

<h1>Modifier l'assignment {{assignment.nom}}</h1>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Editer le nom du devoir</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Editer l'auteur du devoir</ng-template>
        <mat-form-field>
          <mat-label>Auteur</mat-label>
          <input matInput placeholder="Edition de l'auteur" [(ngModel)]="auteur" name="auteur" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Editer la matiere du devoir</ng-template>
        <mat-form-field>
          <mat-label>Matiere</mat-label>
          <input matInput placeholder="Edition de la matiere" [(ngModel)]="matiere" name="matiere" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Editer la remarque du devoir</ng-template>
        <mat-form-field>
          <mat-label>Remarque</mat-label>
          <input matInput placeholder="Edition de la remarque" [(ngModel)]="remarque" name="remarque" formControlName="fourthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>



    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Editer la date du rendu</ng-template>
        <mat-form-field>
          <mat-label>date de rendu</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date" formControlName="fifthCtrl" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="sixthFormGroup">
      <form [formGroup]="sixthFormGroup">
        <ng-template matStepLabel>Editer la note du devoir</ng-template>
        <mat-form-field>
          <mat-label>Note</mat-label>
          <input matInput placeholder="Edition de la note" [(ngModel)]="note" name="remarque" formControlName="sixthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSaveAssignment() ; stepper.reset()">Modifier</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>